In [1]:
import pandas as pd
import re

In [2]:
ratings = pd.read_csv("ml-latest-small/ratings.csv")
movies = pd.read_csv("ml-latest-small/movies.csv")

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
movie_titles = movies["title"].unique()

In [5]:
def year_from_title(title):
    try:
        res = int(re.findall(r"\(\s*\+?(-?\d+)\s*\)", title)[0])
        return res
    except:
        return 0

In [6]:
movies["year"] = movies["title"].apply(year_from_title)
movies = movies[movies["year"] > 1995]

In [7]:
set(movies["year"])

{1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018}

In [8]:
movies["movieId"].nunique()

5836